/* Estilos específicos para el componente BotonElegir */
.boton-elegir-row {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espaciado entre las tarjetas */
    padding: 2rem;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  }
  
  .boton-elegir-card {
    width: 100%;
    max-width: 350px; /* Tamaño máximo para las tarjetas */
    background-color: var(--text-color-light);
    border-radius: 16px; /* Bordes redondeados */
    box-shadow: 0px 8px 20px var(--shadow-light); /* Sombra sutil */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boton-elegir-card:hover {
    transform: translateY(-10px); /* Efecto de elevación */
    box-shadow: 0px 15px 30px var(--shadow-dark); /* Sombra más intensa al pasar el ratón */
  }
  
  .boton-elegir-card img {
    width: 100%;
    height: 200px; /* Altura de la imagen */
    object-fit: cover;
    border-top-left-radius: 16px; /* Bordes redondeados */
    border-top-right-radius: 16px; /* Bordes redondeados */
  }
  
  .boton-elegir-card-body {
    padding: 1.25rem;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: background-color 0.3s ease;
  }
  
  .boton-elegir-card-body:hover {
    background-color: rgba(76, 158, 189, 0.1); /* Efecto de hover */
  }
  
  .boton-elegir-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .boton-elegir-card-text {
    font-size: 1rem;
    color: var(--text-color-dark);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
  }

  .row {
    justify-content: center;
    display: flex;
  }
  
  @media (max-width: 768px) {
    .boton-elegir-row {
      flex-direction: column;
      gap: 1.5rem;
    }
  
    .boton-elegir-card {
      max-width: 100%; /* Las tarjetas ocupan todo el ancho en pantallas pequeñas */
    }
  
    .boton-elegir-card img {
      height: 180px; /* Ajuste de la imagen en pantallas pequeñas */
    }
  }
  